// Define variables for your color scheme
$green1: #A4C3B2;
$green2:#CCE3DE;
$green3: #EAF4F4;
$green4: #F6FFF8;
$topgray: #F3F3F5;
$textgray: #858484;

$background: #FFFFFF;
$light-blue: #CDECF6; //menorca blue light
$primary-blue: #9BD9ED; //primary button menorca blue dark
$primary-orange:#FF7D55; //primary button orange
$sand: rgba(255, 209, 149, 0.26); //sand
$red: #FD1015;
$blue: blue;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #CCE3DE;
$gray: #444444;
$light-gray: #F4F4F4;
