.container-confirm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid $green2;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  height: 87vh;
  width: 85%;
  margin: auto;
  margin-top: 5%;
}

.order-summary {
  width: 75vw;
  .summary-text{
    text-align: center;
  }
  .offer-card-progress-bar{
    padding: 0;
  }
}

.order-box {
  display: flex;
  border: 0.5px solid $green1;
  border-radius: 0.5rem;
  height: 20vh;
}

.img-confirmation{
  border-radius: 0.5rem 0 0 0.5rem;
  object-fit: cover;
  object-position: center;
  width: 30vw;
}

.order-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
.product-name{
  font-size: 1.5rem;
  font-weight: 500;
}
.order-ordered-info{
  display: flex;
  flex-direction: column;
}
.order-amount {
  display: flex;
  justify-content: space-between;
  text-align: left;
  p{
    margin-bottom: 0.5rem;
  }
}

.order-total {
  display: flex;
  justify-content: space-between;
  text-align: left;
  p{
    margin-bottom: 0;
  }
}

.amount-deadline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-progress {
  padding:1rem;
  margin: 0 auto;
}
.deadline {
  text-align: center;
}

.target-reached {
  text-align: center;
  margin-bottom: 0;
}

.confirmation-buttons{
  width: 75vw;
  .confirmation-button{
    padding: 0.5rem;
    margin-top: 0.5rem !important;
  }
}

.share-text {
  text-align: center;
}

.share-link {
  display: flex;
  width: 75vw;
  padding: 1rem;
  margin: 0 auto;
  .form-field-green{
    color: $textgray;
  }
  .btn-clipboard{
    width: 25%;
  }
}
