.container-form {
  margin: 20px auto;
  border: 1px solid $green3;
  width: 90vw;
  border-radius: 5px;
}

.breath {
  padding: 0 25px 20px 25px;
}

.form-container-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
