.container {
  margin-top: 5vw;
  margin-bottom: 5vw;
  justify-content: center;
}

.container-green {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 85vw;
  padding: 10px;
  border: 1px solid $green2;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  .img-brand {
    width: 100%;
    margin: 1.5rem 0;
    object-fit: cover;
    object-position: center;
  }
  h1 {
    color: $textgray;
    font-size: 1.5rem;
    opacity: 0.9;
  }
  h3 {
    color: $textgray;
    font-size: 1rem;
    opacity: 0.8;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-offer {
  width: 85vw;
  margin: 3rem 0;
  margin-top: 3rem !important;
  align-items: center;
  display: flex;
  justify-content:center;
  .button {
    width: 45vw;
  }
}

.search-offer-categories {
  //width: 75%;
  margin-top: 1.5rem !important;
  margin-bottom: 3rem !important;
}

.categories-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 75%;
}

.search-product-form {
  padding-right: 0;
  padding-left: 0;
}

.sign-in {
  color: $gray;
  text-decoration: none;
  border-bottom: 3px solid $green2;
  &:hover{
    color: $gray;
    font-weight: bolder;
    border-bottom: 4px solid $green1;
  }
}
