.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .upload-offer-section {
    width: 90%;
    margin-top: 1.5rem !important;
  }
}

.search-offer-cards {
  margin-top: 1rem;
  width: 90%;
  .form-row {
    display: flex;
    justify-content: center;
    .form-field-left{
      flex-grow: 1;
      margin: 0.5rem;
      margin-left: 0;
    }
    .btn-right {
      width: 25vw;
      margin: 0.5rem;
      margin-right: 0;
    }
  }
}

.grid-offer-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 5%;
}

.offer-card {
  text-decoration: none;
  border: 1px solid $topgray;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  .img-offer-card{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
.selected-card{
  border: 1px solid $green1;
  box-shadow: 0 0 10px $green1;
}
.progress-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.offer-card-details {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  p {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.card-links{
  text-decoration: none;
  color: black;
  &:hover{
    color: black;
  }
}


.offer-card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  .offer-deadline {
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 0 !important;
  }
  .offer-category{
    background-color: white;
    border: 1px solid $green2;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: lighter;
  }
}

.offer-card-progress-bar {
  padding: 0.5rem;
}

@media(max-width: 1200px) {
  .grid-offer-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .grid-offer-cards {
    grid-template-columns: 1fr;
  }
}
