.header {
  padding-top: 1rem;
}

.order-description {
  display: flex;
  justify-content: space-between;
  border: solid 2px $green2;
  padding: 1rem;
  border-radius: 0.7rem;
  text-align: center;
  // text-overflow: wrap;
  margin:0.2rem;
}

.order-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}
// .amount {
//   justify-content: space-between;
// }
