<div class="navbar">
<%= image_tag "back-icon.png", class:"back-icon" %>
<%= image_tag "buythebulk-logo.png", class:"buythebulk-logo" %>
<%= image_tag "burguer-icon.png", class:"burguer-icon" %>
</div>

<br><br><br><br><br>

<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="main-card">
  <%= image_tag "shapes_", class:"product-img" %>
  <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="stats">
    <p>100/600</p>
    <p>2.36 €</p>
  </div>
  <h1>Prodcut Name</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae recusandae voluptates laborum aliquam totam aspernatur, ad voluptatibus ullam fuga rem!</p>
</div>
