<div class="navbar">
  <%= image_tag "back-icon.png", class:"back-icon" %>
  <%= image_tag "buythebulk-logo.png", class:"buythebulk-logo" %>
  <%= image_tag "burguer-icon.png", class:"burguer-icon" %>
</div>
