<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="btn-filled">button</div>

<div class="btn-empty">button</div>

<div class="progress-filled">progress</div>

<div class="progress-empty"></div>
