<div class="container-show">
  <div class="offer-details">
    <h1><%= @offer.supplier_offer_url %></h1>
    <div class="progress-bar"></div>
    <p class="price-currrent">Current Price</p>
    <h1><%= @offer.name %></h1>
    <p><%= @offer.description %></p>
  </div>

  <div class="amount-card">
    <div class="amount">
      <p>Order Amount</p>
      <input type="number" placeholder="€ 00,00">
    </div>
    <div class="total">
      <p>Total</p>
      <p><i>€ 250,00</i></p>
    </div>
    <div class="savings">
      <p>You're saving</p>
      <p>€ 54,30</p>
    </div>
    <a href="" class="button btn-filled">Order</a>
  </div>

  <div class="bulkers-card">

  </div>
</div>
