.navbar {
  display: flex;
  background-color: $green2;
  width: 100vw;
  height: 70px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  .back-icon, .burguer-icon {
    width: 40px;
    position: flex-end;
    padding: 5px;
  }
  .buythebulk-logo {
    width: 190px;
    position: flex-end;
    margin-top: 10px;
  }
  .dropdown-menu{
    background-color: $green2;
    width: 100%;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .dropdown-item {
    font-family: 'DM Sans';
    font-size: 2rem;
    text-align: center;
  }
}
