.navbar {
  display: flex;
  background-color: $green2;
  width: 100vw;
  height: 70px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  .back-icon, .burguer-icon {
    width: 40px;
    position: flex-end;
    margin: 0.5rem;
  }
  .buythebulk-logo {
    width: 190px;
    position: flex-end;
    margin-top: 10px;
  }
  .dropdown-menu{
    margin-top: 0px;
    background-color: $green2;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    //width: 60%;
    border-radius: 0px 0 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 8px 9px 8px;
  }
  .dropdown-item {
    border-top: 2px solid rgba(255, 255, 255, 0.395);
    font-family: 'DM Sans';
    font-size: 1.1rem;
    padding: 10px;
    text-align: left;
    height: 3rem;
    align-items: center;
    &:hover {
      background-color: $green3;
      transition: all 0.3s;
    }
  }
}
