// .navbar {
//   display: flex;
//   flex-grow: 0;
//   background-color: $green2;
//   width: 100vw;
//   z-index: 10;
//   height: 70px;
//   align-items: center;
//   // padding: 5px;
//   // justify-content: space-between;
//   .back-icon, .burguer-icon {
//     width: 30px;
//     // position: flex-end;
//     // padding: 5px;
//   }
//   .buythebulk-logo {
//     width: 190px;
//     // position: flex-end;
//     // margin-top: 10px;
//   }
// }
// #navbarSupportedContent{
//   width: 100vw;
// }
// .navbar-lewagon {
//   justify-content: space-between;
//   height: 80px;
//   // padding-left: 148px;
//   // padding-right: 70px;
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
//   z-index: 5;
//   box-shadow:  0 0 15px rgba(0,0,0,0.1);
// }
// .navbar-container{
//   position: sticky;
//   z-index: 10;
//   top: 0;
// }
// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
//   padding-left: 148px;
// }



.navbar {
  display: flex;
  background-color: $green2;
  width: 100vw;
  height: 70px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  .back-icon, .burguer-icon {
    width: 50px;
    position: flex-end;
    padding: 5px;
  }
  .buythebulk-logo {
    width: 190px;
    position: flex-end;
    margin-top: 10px;
  }
}
