.prg {
  width: 7rem;
  color: black;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progress-filled {
  background-color: $green2;
}

.progress-empty {
  background-color: $topgray;
}
