.progress-filled{
  height:2rem;
  width:75%;
  border-radius: 50%;
  background-color: $green2;
}

.progress-empty{
  height:2rem;
  width:75%;
  border-radius: 50%;
  background-color: $lightgrey;
}
