.upload-offer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  h4 {
    width: 60vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .btn-upload-offer{
    width: 100%;
    margin-bottom: 3rem !important;
  }
}
